In [1]:
# --- Import libs for running notebook.

from utils.libs import *

In [2]:
# --- Read config file for runnig notebook.

conf_file_path = 'conf.txt'
conf_data = read_conf_file(conf_file_path)

In [3]:
# --- Fetch data about carryed out trainings.
records_list = fetch_data_by_status(conf_data, status='*')

SELECT image,date,timestamp,hidden_features,image_size,status,data_downloaded FROM table_runs_logged WHERE image_size = "[256,256]";

In [4]:
data = list(map(operator.methodcaller('_asdict'), records_list))
records_df = pd.DataFrame(data = data)

records_df.head(5)

,image,date,timestamp,hidden_features,image_size,status,data_downloaded,full_path
0,cameramen,23/10/20,1603478755-305517,75,"[256,256]",done,TRUE,C:\\Users\\Francesco\\Documents\\tests\\siren-...
1,cameramen,24/10/20,1603557121-338703,55,"[256,256]",done,TRUE,C:\\Users\\Francesco\\Documents\\tests\\siren-...
2,cameramen,25/10/20,1603583765-067812,55,"[256,256]",done,TRUE,C:\\Users\\Francesco\\Documents\\tests\\siren-...
3,cameramen,26/10/20,1603671438-603947,85,"[256,256]",failed,FALSE,C:\\Users\\Francesco\\Documents\\tests\\siren-...
4,cameramen,26/10/20,1603672968-148557,85,"[256,256]",done,TRUE,C:\\Users\\Francesco\\Documents\\tests\\siren-...

In [5]:
records_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   image            12 non-null     object
 1   date             12 non-null     object
 2   timestamp        12 non-null     object
 3   hidden_features  12 non-null     int64
 4   image_size       12 non-null     object
 5   status           12 non-null     object
 6   data_downloaded  12 non-null     object
 7   full_path        12 non-null     object
dtypes: int64(1), object(7)
memory usage: 896.0+ bytes

In [6]:
records_df

,image,date,timestamp,hidden_features,image_size,status,data_downloaded,full_path
0,cameramen,23/10/20,1603478755-305517,75,"[256,256]",done,TRUE,C:\\Users\\Francesco\\Documents\\tests\\siren-...
1,cameramen,24/10/20,1603557121-338703,55,"[256,256]",done,TRUE,C:\\Users\\Francesco\\Documents\\tests\\siren-...
2,cameramen,25/10/20,1603583765-067812,55,"[256,256]",done,TRUE,C:\\Users\\Francesco\\Documents\\tests\\siren-...
3,cameramen,26/10/20,1603671438-603947,85,"[256,256]",failed,FALSE,C:\\Users\\Francesco\\Documents\\tests\\siren-...
4,cameramen,26/10/20,1603672968-148557,85,"[256,256]",done,TRUE,C:\\Users\\Francesco\\Documents\\tests\\siren-...
5,cameramen,26/10/20,1603731888-012273,85,"[256,256]",doubt,FALSE,C:\\Users\\Francesco\\Documents\\tests\\siren-...
6,cameramen,26/10/20,1603731938-952001,85,"[256,256]",done,TRUE,C:\\Users\\Francesco\\Documents\\tests\\siren-...
7,cameramen,27/10/20,1603774067-025589,64,"[256,256]",done,TRUE,C:\\Users\\Francesco\\Documents\\tests\\siren-...
8,cameramen,27/10/20,1603816949-617728,64,"[256,256]",done,TRUE,C:\\Users\\Francesco\\Documents\\tests\\siren-...
9,cameramen,28/10/20,1603843559-156915,45,"[256,256]",done,TRUE,C:\\Users\\Francesco\\Documents\\tests\\siren-...
10,cameramen,28/10/20,1603867216-755376,45,"[256,256]",done,FALSE,C:\\Users\\Francesco\\Documents\\tests\\siren-...
11,cameramen,28/10/20,1603905451-45262,90,"[256,256]",running,FALSE,C:\\Users\\Francesco\\Documents\\tests\\siren-...

In [7]:
typename = 'QueryConstraints'
field_names = "image;date;timestamp;hidden_features;image_size;status".split(";")
QueryConstraints = collections.namedtuple(typename, field_names)

In [8]:
image = dict(zip(['type', 'val'], [str, list(sorted("cameramen".split(";")))]))
date = None
timestamp = dict(zip(['type', 'val'], [str, list(sorted("1603557121-338703;1603774067-025589;1603671438-603947".split(";")))]))
hidden_features = dict(zip(['type', 'val'], [int, list(sorted("55;64;85".split(";")))]))
image_size = None
status = dict(zip(['type', 'val'], [str, list(sorted("done;failed".split(";")))]))

fields_list = [image, date, timestamp, hidden_features, image_size, status]
constraints = QueryConstraints._make(fields_list)

pprint(constraints)

QueryConstraints(image={'type': <class 'str'>, 'val': ['cameramen']}, date=None, timestamp={'type': <class 'str'>, 'val': ['1603557121-338703', '1603671438-603947', '1603774067-025589']}, hidden_features={'type': <class 'int'>, 'val': ['55', '64', '85']}, image_size=None, status={'type': <class 'str'>, 'val': ['done', 'failed']})

In [9]:
records_list, result_dict_df, query_str, chained_constraints = fetch_data_by_constraints(
    conf_data, constraints, fetch_data_downloaded = True)

SELECT image,date,timestamp,hidden_features,image_size,status,data_downloaded FROM table_runs_logged WHERE    (image = 'cameramen') AND (  timestamp = '1603557121-338703' OR timestamp = '1603671438-603947'  OR timestamp = '1603774067-025589' )  AND (  hidden_features = 55 OR hidden_features = 64  OR hidden_features = 85 )  AND ( status = 'done' OR status = 'failed' ) ;

In [10]:
data = list(map(operator.methodcaller('_asdict'), records_list))
records_df = pd.DataFrame(data = data)

records_df.head(5)

,image,date,timestamp,hidden_features,image_size,status,data_downloaded,full_path
0,cameramen,24/10/20,1603557121-338703,55,"[256,256]",done,TRUE,C:\\Users\\Francesco\\Documents\\tests\\siren-...
1,cameramen,26/10/20,1603671438-603947,85,"[256,256]",failed,FALSE,C:\\Users\\Francesco\\Documents\\tests\\siren-...
2,cameramen,27/10/20,1603774067-025589,64,"[256,256]",done,TRUE,C:\\Users\\Francesco\\Documents\\tests\\siren-...

In [11]:
query_str

"SELECT image,date,timestamp,hidden_features,image_size,status,data_downloaded FROM table_runs_logged WHERE    (image = 'cameramen') AND (  timestamp = '1603557121-338703' OR timestamp = '1603671438-603947'  OR timestamp = '1603774067-025589' )  AND (  hidden_features = 55 OR hidden_features = 64  OR hidden_features = 85 )  AND ( status = 'done' OR status = 'failed' ) ;"

In [12]:
chained_constraints

"   (image = 'cameramen') AND (  timestamp = '1603557121-338703' OR timestamp = '1603671438-603947'  OR timestamp = '1603774067-025589' )  AND (  hidden_features = 55 OR hidden_features = 64  OR hidden_features = 85 )  AND ( status = 'done' OR status = 'failed' ) "

In [13]:
data = list(map(operator.itemgetter(1), result_dict_df.items()))
train_df = pd.concat(data)

train_df.head(5)

,#params,seed,hl,hf,mse,psnr,ssim,eta
1603557121-338703,31021.0,0.0,10.0,55.0,0.000067,49.050591,0.996615,1908.094212
1603557121-338703,31021.0,42.0,10.0,55.0,0.000054,46.975462,0.995696,1917.035562
1603557121-338703,31021.0,123.0,10.0,55.0,0.000106,45.776318,0.988868,1922.584690
1603557121-338703,34101.0,0.0,11.0,55.0,0.000076,47.089809,0.991838,2035.842053
1603557121-338703,34101.0,42.0,11.0,55.0,0.000023,52.062584,0.997244,2038.222497

In [14]:
len(dict(zip(['type', 'val'], [int, list(sorted("".split(";")))]))['val'])

1

In [15]:
image = dict(zip(['type', 'val'], [str, list(sorted("cameramen".split(";")))]))
date = None
timestamp = dict(zip(['type', 'val'], [str, list(sorted("".split(";")))]))
hidden_features = dict(zip(['type', 'val'], [int, list(sorted("".split(";")))]))
image_size = dict(zip(['type', 'val'], [str, list(sorted("[256,256]".split(";")))]))
status = dict(zip(['type', 'val'], [str, list(sorted("done".split(";")))]))

fields_list = [image, date, timestamp, hidden_features, image_size, status]
constraints = QueryConstraints._make(fields_list)

pprint(constraints)

QueryConstraints(image={'type': <class 'str'>, 'val': ['cameramen']}, date=None, timestamp={'type': <class 'str'>, 'val': ['']}, hidden_features={'type': <class 'int'>, 'val': ['']}, image_size={'type': <class 'str'>, 'val': ['[256,256]']}, status={'type': <class 'str'>, 'val': ['done']})

In [16]:
# --- Fetch data about carryed out trainings.
# train_df, _, records_list = fetch_data(conf_data)

records_list, result_dict_df, query_str, chained_constraints = fetch_data_by_constraints(
    conf_data, constraints, fetch_data_downloaded = True)

SELECT image,date,timestamp,hidden_features,image_size,status,data_downloaded FROM table_runs_logged WHERE   (image = 'cameramen') AND (image_size = '[256,256]')  AND (status = 'done') ;

In [17]:
data = list(map(operator.methodcaller('_asdict'), records_list))
records_df = pd.DataFrame(data = data)

records_df.head(5)

,image,date,timestamp,hidden_features,image_size,status,data_downloaded,full_path
0,cameramen,23/10/20,1603478755-305517,75,"[256,256]",done,TRUE,C:\\Users\\Francesco\\Documents\\tests\\siren-...
1,cameramen,24/10/20,1603557121-338703,55,"[256,256]",done,TRUE,C:\\Users\\Francesco\\Documents\\tests\\siren-...
2,cameramen,25/10/20,1603583765-067812,55,"[256,256]",done,TRUE,C:\\Users\\Francesco\\Documents\\tests\\siren-...
3,cameramen,26/10/20,1603672968-148557,85,"[256,256]",done,TRUE,C:\\Users\\Francesco\\Documents\\tests\\siren-...
4,cameramen,26/10/20,1603731938-952001,85,"[256,256]",done,TRUE,C:\\Users\\Francesco\\Documents\\tests\\siren-...

In [18]:
data = list(map(operator.itemgetter(1), result_dict_df.items()))
train_df = pd.concat(data)

train_df.head(5)

,#params,seed,hl,hf,mse,psnr,ssim,eta
1603478755-305517,57301.0,0.0,10.0,75.0,0.000006,58.145780,0.998769,2688.703879
1603478755-305517,57301.0,42.0,10.0,75.0,0.000009,56.492704,0.998202,2690.827056
1603478755-305517,57301.0,123.0,10.0,75.0,0.000006,58.214385,0.999085,2686.608420
1603478755-305517,63001.0,0.0,11.0,75.0,0.000018,53.486111,0.997542,2904.513145
1603478755-305517,63001.0,42.0,11.0,75.0,0.000005,58.401365,0.999003,2906.302068